.container{
    width: 100%;
    padding: 10px;
    border: 1px solid var(--grayColor);
}
.container .title img{
    width: 40px;
    height: 40px;
    border-radius: 100%;
}
.container .title{
    display: flex;
    align-items: center;
    gap: 10px;
}
.container .texts{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.container .texts .text{
    margin-top: 15px;
    font-size: 18px;
}
