.container{
    width: 100%;
}
.container img{
   width: 40px;
   height: 40px;
}
.container .addPost{
    display: flex;
    align-items: center;
    gap: 10px;
}

.container .addPost button{
    padding: 10px;
    cursor: pointer;
    color: var(--whiteText);
    background: var(--blueColor);
}
.container .posts{
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}